code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,body {
    background-color: #8e84a6;
}

table {
    display:inline-table;
}

#root {
    border:  1px dotted red;
    
}

.main-div {
     margin: 12px;
  padding: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
 }


.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.input-group > * {
    margin: 1em;
}

.sec-tab {
    min-height: 345px;
}

 .math-plane {
      margin: 1em;
    padding: 0em;
    display: flex;
    justify-content: center;
    border:  1px solid black;
    background-color: white;
     height: 650px;
    width: 650px;
}

 .input-comp {
      background-color: white;
    width: 500px;
    min-height: 150px;
    border:  1px solid black;
    border-radius: 1rem;
    margin: 12px;
    padding: 12px;
     display: flex;
     flex-direction: row;
     padding: 12px;
     justify-content: space-around;
     align-items: center;
 }

 .steady-state-vec {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-end;
 }

 .vertical-vector {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }

 .vector-display-phantom {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     color:white;
 }

 .state-input {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
 }

 .state-left {
     min-height:100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }

  .state-right {
     min-height:100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
  }

  .table-cell {
      min-width: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .wide-table-cell {
      min-width: 180px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }
input[type=range] {
  height: 29px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #817483;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #D24749;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #817483;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #817483;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #D24749;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #817483;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #817483;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #D24749;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #817483;
}
input[type=range]:focus::-ms-fill-upper {
  background: #817483;
}
